@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

@font-face {
    font-family: 'Maitree';
    src: url("../fonts/RIDIBatang_min.otf") format("opentype");
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

* {
    font-family: 'Maitree' !important;                 
    color: inherit;
    box-sizing: border-box;
}

a:link {color:#ffffff;}
a:visited {color: #ffffff;}

.row_flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column_flex {
    display:flex;
    flex-direction: column;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
}

// 반응형

$breakpoint-desktop: 1024px;
@mixin mobile {
    @media (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
      @content;
    }
}

// container

@mixin container (
    $w: 100%,
    $h: 100%,
    $display: flex,
    $flex-direction: column,
    $align-items: center,
    $bg: #000000,
    $color: if($w == 100%, #ffffff, inherit),
) {
    width: $w;
    height: $h;
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
    background-color: $bg;
    color: $color;
}

// 2_4_program

@mixin program_list (
    $w: 328px,
    $h: 44px,
    $bg: #FFFFFF,
    $p: 12px 14px,
    $pb: if($h !=44px, 18px, null),
    $box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12),
    $border-radius: 8px,
    $color: inherit,
    $display: flex,
    $font-size: 14px,
    $line-height: 20px,
    $letter-spacing: -0.02em,
) {
    width: $w;
    height: $h;
    background: $bg;
    padding: $p;
    padding-bottom: $pb;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    color: $color;
    display: $display;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin program_list_d (
    $w: 976px,
    $h: 80px,
    $p: 22px 32px,
    $pb: if($h !=80px, 34px, null),
    $border-radius: 12px,
    $display: flex,
    $font-size: 24px,
    $line-height: 36px,
    $letter-spacing: -0.02em,
) {
    @include program_list($w:$w, $h:$h, $p:$p, $pb:$pb, $border-radius:$border-radius, $display:$display, $font-size:$font-size, $line-height:$line-height, $letter-spacing:$letter-spacing);
}

@mixin program_list_position (
    $position: relative,
    $justify-content: space-between,
    $align-items: center,
) {
    position: $position;
    justify-content: $justify-content;
    align-items: $align-items;
}
