@import "./0_basic.scss";

/* guest */

.guest_box {
    @include mobile {
        @include container($w:360px, $align-items:null);
        padding: 40px 16px 56px 16px;
    }
    @include desktop {
        @include container($w:1024px, $align-items:null);
        padding: 160px 24px 168px 24px;
    }

    .guset_title {
        font-weight: 600;
        letter-spacing: -0.02em;
        @include mobile {
            font-size: 22px;
            line-height: 36px;
        }
        @include desktop {
            font-size: 40px;
            line-height: 64px;
        }
    }

    .guest_photo_grid {
        display: grid;
        @include mobile {
            width: 328px;
            height: 568px;
            grid-template-rows: repeat(2, 1fr);
            row-gap: 24px;
            margin-top: 32px;
        }
        @include desktop {
            width: 976px;
            height: 648px;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 24px;
            margin-top: 64px;
        }
    }
}